PORT=8080
FORGE_SERVICE_NAME=forge-build
FORGE_SERVICE_VERSION=0.1.0
FORGE_LOG_LEVEL=info
FORGE_ENV=development
FORGE_AUTH_MODE=dev
DOCKER_HOST=unix:///var/run/docker.sock
FORGE_BUILD_WORKSPACE_DIR=/workspace
FORGE_BUILD_STORE_DIR=/var/lib/forge-build
FORGE_BUILD_RETENTION_HOURS=72
FORGE_BUILD_CLEANUP_ON_START=true
FORGE_DEFAULT_FORGE_YAML=forge.yaml
FORGE_BUILD_TIMEOUT_SECONDS=600
FORGE_BUILD_MAX_CONCURRENCY=2
FORGE_BUILD_LOG_BUFFER_LINES=5000
FORGE_REGISTRY=localhost:5000
FORGE_IMAGE_NAME_PATTERN={project}-{service}
FORGE_DEFAULT_PROJECT=
FORGE_PUSH_LATEST=true
FORGE_PUSH_RETRIES=3
FORGE_CONTROL_URL=http://forge-control:8080
FORGE_BUILD_AUTO_DEPLOY_DEFAULT=false
FORGE_CONTROL_RETRIES=5
FORGE_CONTROL_RETRY_BACKOFF_MS=200
FORGE_CONTROL_TIMEOUT_SECONDS=10
FORGE_SHUTDOWN_GRACE_SECONDS=10
FORGE_DOCKER_STARTUP_RETRIES=5
FORGE_DOCKER_STARTUP_RETRY_DELAY_MS=500
