PORT=8080
FORGE_SERVICE_NAME=forge-build
FORGE_SERVICE_VERSION=0.1.0
FORGE_LOG_LEVEL=info
FORGE_ENV=development
FORGE_AUTH_MODE=dev
DOCKER_HOST=unix:///var/run/docker.sock
FORGE_BUILD_WORKSPACE_DIR=/workspace
FORGE_DEFAULT_FORGE_YAML=forge.yaml
FORGE_SHUTDOWN_GRACE_SECONDS=10
FORGE_DOCKER_STARTUP_RETRIES=5
FORGE_DOCKER_STARTUP_RETRY_DELAY_MS=500
