PORT=4104
FORGE_SERVICE_NAME=forge-secrets
FORGE_SERVICE_VERSION=0.1.0
FORGE_LOG_LEVEL=info
FORGE_ENV=development
FORGE_SHUTDOWN_GRACE_SECONDS=10
FORGE_SECRETS_DB_URL=postgres://forge:forge@127.0.0.1:5001/forge_secrets
FORGE_SECRETS_MASTER_KEY=bG9jYWwtZGV2LWZvcmdlLXNlY3JldHMta2V5ISEhISE=
FORGE_SECRETS_MASTER_KEY_ID=m1
